<div>
  <router-outlet>Welcome back {{name}} !!</router-outlet>
</div>
<!-- if declared as tag in selector -->
<!-- <app-good></app-good> -->
<!-- if declared as class in selector-->
<!-- <div class="app-good"></div> -->
<!-- if declared as attribute in selector-->
<div (childEvent)="fromChild=$event" app-good [messageToChild]="messageFromParent"> </div>
{{fromChild}}
<!-- Below code produce same results but some attibute can't be given like {{}} -->
<p>Country : <input type="text" name="country" placeholder="{{country}}" (mouseover)="callCountry($event)"> </p>
<p>State : <input type="text" name="state" [placeholder]="state" (mouseover)="error='Enter valid state'"
    (mouseleave)="error=''"></p>
<p>City : <input type="text" name="city" #cityname bind-placeholder="city" (mouseover)="warning='Enter valid city'"
    (mouseleave)="warning=''">
</p>
<div *ngFor="let language of languages">
  <input type="checkbox">{{language}}
</div>
<!-- <input type="text" disabled="{{disableDOB}}">
  this won't work because disbaled itself true value (no seperate value as true) woun't be reflected, that why we are using property binding -->
<p>Date of Joining : <input type="text" bind-disabled="disableDOJ" bind-value="DOJ | date:'short'"></p>
<button (click)="validate(cityname.value)">Validate City</button>
<!-- bind-value is equivalent to [value] -->
<!-- [(ng-Model)] is equivalent to bindon-ngModel -->
<p><input type="text" bindon-ngModel="comments" (ngModelChange)="checkComments()"></p>

<!-- <p *ngIf="commentsThere; else elseBlock">{{comments}}</p> -->
<div *ngIf="comments; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <p>Thanks for the comments : {{comments}}</p>
</ng-template>
<ng-template #elseBlock>
  <p>Please provide some comments</p>
</ng-template>

<!-- Class binding based on conditions 1. Single classs 2.Multiple class based on conditions -->
<div [class.text-small]="true">Please read below instruction care fully</div>
<div bind-ngClass="conditionClass">Risk is all yours, we don't care</div>
<!-- Sytle binding based on conditions 1. Single classs 2.Multiple class based on conditions -->
<div [style.color]="displaySmallText ? 'green' : 'red'"> (c) All rights are reserved for no one</div>
<div bind-ngStyle="styleClass">1900 - 2100</div>
<div>{{warning}}</div>
<div>{{error}}</div>
